<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
	<a href="mailto:nataliestewart@math.harvard.edu">Email</a>,
      	<a href="https://github.com/nataliesstewart">Github</a>, 
	<a href="https://www.math.harvard.edu/people/stewart-natalie/">Harvard</a>, 
	<a href="https://ncatlab.org/nlab/show/Natalie+Stewart">nLab</a>,
	<a href="https://zygotop.github.io/">Zygotop</a>

	    <div style="float: right; background-color:#62986f; color: #62986f; font-size:5px; margin-top: 10px;">
		    #62986F	    
	    </div>
    <div style="float: right; background-color:#DEB0FF; color: #DEB0FF; font-size:5px; margin-top:10px"> 
		    #DEB0FF 
	    </div>
	    <div style="float: right; background-color:#1e1e1e; border-style:solid; border-width:1px; border-color:#1E1E1E; color:#1e1e1e; font-size:5px; margin-top:10px;">
		    #1E1E1E
	    </div>

    </div>
  </div>
	
</footer>
